@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Freight Sans Pro";
  src: url("./fonts/FreightSansProLight-Regular.woff") format("woff"),
    url("./fonts/FreightSansProLight-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freight Sans Pro";
  src: url("./fonts/FreightSansProBook-Regular.woff") format("woff"),
    url("./fonts/FreightSansProBook-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freight Sans Pro";
  src: url("./fonts/FreightSansProMedium-Regular.woff") format("woff"),
    url("./fonts/FreightSansProMedium-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freight Display Pro";
  src: url("./fonts/FreightDispProLight-Regular.woff") format("woff"),
    url("./fonts/FreightDispProLight-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freight Display Pro";
  src: url("./fonts/FreightDispProBold-Regular.woff") format("woff"),
    url("./fonts/FreightDispProBold-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
